.styled-table {
  border-collapse: collapse;
  font-family: sans-serif;
  width: 100%;
}

.styled-table thead tr {
  background-color:#3465a4;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  text-align: center;
  padding: 12px 15px;
  font-size: 18px;
  max-width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

button {
  margin-right: 10px;
}
