<div class="content">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>Escolaridade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthDate | date: "dd / MM / yyyy"}}</td>
        <td>{{user.scholarity | scholarity}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="edit(user)">
            Editar
          </button>
          <button mat-raised-button color="warn" (click)="delete(user.id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
